*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
nav img{
    width: 7%;
}
nav{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    gap: 300px;
    background-color: white;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin-right: -320px;
}
nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
nav ul button{
    border: none;
    background-color: black;
    color: white;
    height: 6vh;
    width: 140px;
    border-radius: 20px 20px 0px 20px ;
    font-weight: 1000;
    font-size: 14px;
}
.hero_section{
    height: 100vh;
    width: 100%;
}
.hero_section .box{
    height: 90vh;
    width: 1300px;
    background-color: rgb(249,201,53);
    border-radius: 2000px 20px 20px 2000px;
    position: absolute;
    z-index: -1;
    left: 680px;
    rotate: -40deg;
    bottom: 320px;
    overflow: hidden;
    
}
.hero_section .box img{
    rotate: 40deg;
    width: 80%;
    position: absolute;
    top: 87px;
    right: 530px;
    
}
.hero_section{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 120px;
    margin-left: 340px;
}
.hero_section h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.hero_section p{
    font-size: 28px;
    margin-bottom: 25px
}
.hero_section .btn_1{
    height: 50px;
    width: 210px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(249,201,53);
    border: none;
    border-radius: 20px 20px 20px 2px;
}
.hero_section .btn_2{
    height: 50px;
    width: 210px;
    font-size: 18px;
    font-weight: 700;
    background-color:black;
    color: white;
    border: none;
    border-radius: 20px 20px 2px 20px;
    margin-left: 20px;
}
.container{
    width: 90%;
    height: 60vh;
}
.container img{
    width: 100%;
    padding-left: 290px;
    margin-bottom: 220px;
}
.container_1{
    height: 120vh;
    width: 100%;
    position: relative;
}
.container_1 .box{
    background-color: rgb(251,247,221);
    height: 590px;
    width: 800px;
    border-radius: 200px 180px 200px 200px;
    rotate: -26deg;
    position: absolute;
    top: 100px;
    left: -100px;
}
.container_1 .box .img_1{
    rotate: 26deg;
    margin-left: 550px;
    margin-top: 50px;
}
.container_1 .box .img_2{
    rotate: 26deg;
    position: absolute;
    top: 180px;
    right: 160px;
    border-radius: 200px 200px 5px 200px;
}
.container_1 .box .img_3{
    rotate: 26deg;
    margin-left: 500px;
    margin-top: 150px;
    border-radius: 5px 100px 100px 100px;

}
.container_1 .box .box_1{
    height: 40px;
    width: 120px;
    background-color: rgb(249, 249, 249);
    rotate: 26deg;
    position: absolute;
    left: 630px;  
    border-radius: 200px 200px 200px 00px;
    z-index: 1;
}
.container_1 .box .box_2 {
    height: 150px;
    width: 40px;
    background-color: rgb(249,201,53);
    rotate: 26deg;
    position: absolute;
    left: 465px;
    bottom: -89px;
    border-radius: 200px 20px 200px 200px;
}
.container_1 .know_us{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-left: 920px;
}
.container_1 .know_us h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.container_1 .know_us p{
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.container_1 .know_us .btn_1{
    height: 55px;
    width: 210px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(249,201,53);
    border: none;
    border-radius: 200px 200px 200px 2px;
}
.our_impact{
    width: 100%;
    height: 100vh;
}
.our_impact .box{
    width: 75%;
    height: 86vh;
    background-color: rgb(251,247,221);
    border-radius: 2000px 2000px 2000px 2000px;
    rotate: 20deg;
    margin-top: 150px;
    margin-left: 370px;

}
.our_impact .box .text_area{
    rotate: -20deg;
}
