*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav img{
    width: 7%;
}
nav{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    gap: 300px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin-right: -320px;
}
nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
nav ul button{
    border: none;
    background-color: black;
    color: white;
    height: 6vh;
    width: 140px;
    border-radius: 20px 20px 0px 20px ;
    font-weight: 1000;
    font-size: 14px;
}